.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.2);

	&__logo {
		width: 3.5rem;
		margin-left: 2rem;
	}
}

.navigation {
	height: 100%;

	&__list {
		height: 100%;
		margin: 0;
		padding-left: 3rem;
		padding-right: 3rem;
		display: flex;
		list-style-type: none;
	}

	&__item {
		height: 100%;
	}

	&__item-link {
		height: 100%;
		padding-left: 2rem;
		padding-right: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}